
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import url('https://fonts.googleapis.com/css?family=Electrolize');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Toastr
@import "node_modules/toastr/build/toastr.min";

body {
  min-width: 450px;
  overflow-y: scroll;
}

.navbar.min {
    margin-top: -45px;
    // margin-bottom: 0px;

    &:hover {
        margin-top: 0;
        // margin-bottom: 22px;

        .navbar-min-toggle {
            @extend .btn:active
        }

    }
}

.navbar {
    transition: all 200ms ease-in-out;
}

@import "scoreboard";
